.bgColor{
    // background-color: #fbfbfb !important;
    height: 100%;
}

.container{
    margin-top: 0px;
}   

.adminName{
    font-size: 0.8em;
    text-align: right;
    margin: 1em;
    color: #939393;
}

.error{
    font-size: 0.7em;
    color: red;
}

.searchCol{
    border-radius: 10px;
    // flex: 0 0 17% !important;
    margin: 0em;
    padding-left: 0px;
    padding-right: 0px;

    .ml-3{
        margin-left: 0px !important;
    }

    .searchIcon{
        border: 1px solid #ced4da;
        height: calc(1.5em + 0.5rem + 2px);
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-left: 0px;
        font-size: 0.8em;
        border-radius: 0px 20px 20px 0px;
    }

    .form-control{
        border-radius: 0px;
        border-right: 0px !important;
        font-size: 0.8em;
        border-radius: 20px 0px 0px 20px;
        margin-bottom: 0px !important;
    }

    .btn{
        border-radius: 20px;
        width: 75%;
        font-size: 0.8em;
    }
}

.degreeContent{
    background-color: #fff;
    text-align: center;
    height: 4em;
    padding: 1em 2em;
    border-radius: 10px;
    margin: 0.5em;
    font-size: 0.8em;
    color:#939393;
    font-weight: normal;
}

h5{
    font-size: 0.8em;
    padding: 1em 0em;
}

.iconEdit{
    position: relative;
    float: right;
    top: 0.5em;
    padding-left: 0.5em;
}

.appTitle{
    padding-top: 1em;
    margin-bottom: 3em;
    text-decoration: none;
    color: #939393;
}

.form-control{
    margin-bottom: 0.5em;
    font-size: 0.8em;
    height: calc(1.3em + 0.70rem + 2px);
}

.addCourseBtn{
    margin-right: 0.3em;
    font-size: 0.8em;
    background-color: #6bc772;
    border-color: #6bc772;
}

label{
 font-size: 0.7em !important; 
 margin-bottom: 0.3em;  
}

option:focus,
option:active,
option:hover {
  text-decoration: none;
  border-radius: 0px;
  background-color: #33af66;
  border-color: #33af66;
  color: #fff !important;
  border-left:3px solid #fff;
}

.imgLabel{
    background: #6bc772;
    color: #fff;
    width: 30px;
    padding: 0.4em 0.5em;
    position: absolute;
    top: 55px;
    left: 21em;
    font-size: 0.8em !important;
}

.commonBtn{
    padding: 0.5em 1em;
    background-color: #6bc772 !important;
    border-radius: 30px;
    font-size: 0.9em;
}

.imgTable{
    margin-right: 1em;
}

.modal-header{
    padding: 0.5em 1em;
}

.addBtn{
    text-align: center;
}

.addCourseBtn{
    margin-right: 0.3em;
    font-size: 0.8em;
}

label{
 font-size: 0.8em; 
 margin-bottom: 0.3em;  
}
.modal-body{
    padding: 0.3em 1rem;
}

textarea.form-control{
    overflow: hidden;
}

.modal-content{
    top:-1em;
}

.btn-default{
    background: #000;
    color: #fff;
    margin-top: 0.3em;
}
img{
    margin-left: 1em;
}