<div class="container">
        <p class="appTitle">Users</p>
        <!-- <button class="float-right commonBtn" data-toggle="modal" role="dialog" (click)="openAdd()">Add Scope
        </button>-->
        <br>
    
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>User Name</th>
                        <th>Role</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>user</td>
                        <td>+91 9090909090</td>
                        <td>john@mail.com</td>
                        <td>21-09-2020</td>
                        <td>
                            <button class="commonBtn mt-2"> Edit</button>
                            <button class="commonBtn mt-2"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <!-- <div class="row my-4">
            <div class="col">
                <div class="row">
                    <div class="col-md-3 d-flex" *ngFor="let floors of allFloors">
                        <div class="card flex-fill mb-3">
                            <div class="card-body">
                                <p class="float-left mb-0">{{floors.floor}}</p>
                                <i class="fa fa-close float-right text-danger"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    
    </div>
    <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <!-- <div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Add Scope
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="dltmodal-content animate modal-body dltBl">
                    <select class="form-control" placeholder="Select Course Type">
                        <option>Engineering</option>
                        <option>Arts/Science</option>
                        <option>Medical</option>
                    </select>

                    <input type="text" class="form-control" placeholder="Course Duration">

                    <textarea class="form-control" rows="3" placeholder="Scope of Course"></textarea>
    
                    <div class="addBtn">
                        <button class="commonBtn mt-2"> Add Scope</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->