.appTitle{
    margin-top: 4em !important;
}
.form-control{
    margin-bottom: 0.5em;
}

.addBtn{
    text-align: center;

    .commonBtn{
        padding: 0.5em 1em;
    }
}

.table{
    background: #f7f7f7;
    thead{
        font-size:0.8em;
    }   
    tbody{
        font-size:0.8em;

        tr{
            td{
                .commonBtn{
                    margin-right: 0.3em;
                }
            }
        }
    }
}

.commonBtn{
    padding: 0.5em 1em;
    background-color: #6bc772 !important;
}