<div class="page-wrapper chiller-theme toggled" [ngStyle]="commonservice.showTour">
        <main class="page-content">
            <div class="bgColor">
                <div class="container">
                    <div class="row" style="height: 4em;">
                        <div class="col-md-6">
                            <p class="appTitle">Country</p>
                        </div>
                        <div class="col-md-6">
                            <p class="adminName">{{ adminName }} <img width="30px" height="30px" style="margin-left: 0.5em;" [src]="adminImage"
                                    class="rounded-circle"></p>
                        </div>
                    </div>
    
                    <div class="row my-4">
                        <div class="col">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3 searchCol">
                                        <div class="form-inline">
                                            <input class="form-control form-control-sm ml-3 w-75" type="text" (change)="onChangeEvent($event)" placeholder="Country"
                                                aria-label="Search">
                                            <i class="fa fa-angle-down searchIcon" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-3 searchCol">
                                        <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                                    </div>
                                    <div class="col-md-3 searchCol">
                                        <button type="button" class="btn btn-primary addCourseBtn" (click)="openAdd()"><i
                                                class="fa fa-plus" aria-hidden="true"></i> Add Country</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-3 degreeContent" *ngFor="let country of allCountry">
                            <p style="text-align:left;">{{ country.country }} 
                                <i class="fa fa-trash-o iconEdit" aria-hidden="true" (click)="deleteCountry(country)"></i>
                                <i class="fa fa-pencil iconEdit" (click)="editCountry(country)"
                                    aria-hidden="true"></i></p>
                        </div>
                    </div>
    
                </div>
    
    
    
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" *ngIf="showAdd">
                                Add Country
                                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                                    <span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-header" *ngIf="showEdit">
                                Edit Country
                                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                                    <span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="dltmodal-content animate modal-body dltBl">
                                <form [formGroup]="countryForm">
                                    <label>Country</label>
                                    <input type="text" class="form-control" formControlName="countryName" [(ngModel)]="country">
                                    <div class="error-messages">
                                        <div *ngFor="let error of error_messages.countryName">
                                            <div class="error-message" *ngIf="countryForm.get('countryName').hasError(error.type) && (countryForm.get('countryName').dirty || countryForm.get('countryName').touched)">
                                                {{ error.message }}
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="addBtn" *ngIf="showAdd">
                                        <button class="commonBtn mt-2" [disabled]="!countryForm.valid" (click)="addCountry()">
                                            Add Country</button>
                                    </div>
                                    <div class="addBtn" *ngIf="showEdit">
                                        <button class="commonBtn mt-2" (click)="updateCountry()" [disabled]="!countryForm.valid">
                                            Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="backdrop" [ngStyle]="{'display':displayDelete}"></div>
                <div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                                    <span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="dltmodal-content animate modal-body dltBl mb-3" style="text-align:center;">
                                <p>Do you want to delete Degree ?</p>
                                <button type="submit" class="btn btn-success" (click)="delete()" style="width: 20%;">Yes</button>
                                <button type="submit" class="btn btn-danger" (click)="onCloseHandled()" style="width: 20%;margin-left: 0.3em;">No</button><br><br>
                                <p class="error" *ngIf="showErr">{{ deleteErr }}</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </main>
    </div>