<div class="container">
    <p class="appTitle">Floors</p>
    <button class="float-right commonBtn" data-toggle="modal" role="dialog" (click)="openAdd()">Add New
        Floor</button><br><br>

    <div class="row my-4">
        <div class="col">
            <!-- <div class="jumbotron"> -->
            <!-- <div class="container-fluid"> -->
            <div class="row">
                <div class="col-md-3 d-flex" *ngFor="let floors of allFloors">
                    <div class="card flex-fill mb-3">
                        <div class="card-body">
                            <p class="float-left mb-0">{{floors.floor}}</p>
                            <i class="fa fa-close float-right text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

            <!-- </div> -->
        </div>
    </div>

</div>
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Add New Floor
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="dltmodal-content animate modal-body dltBl">
                <input type="text" class="form-control" placeholder="Enter Floor Name" [(ngModel)]="newFloor">
                <button class="commonBtn mt-2" (click)="addFloor()"> Add Floor</button>
            </div>
        </div>
    </div>
</div>