<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
    <img src="../../../assets/logo-white.png" width="70">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in">Sign In</a>
            </li>
        </ul>
        <span class="text-warning font-weight-bold navbar-text">
            SENTHUR MURUGAN EDUCATIONAL TRUST 
        </span>
    </div>
</nav>

<div class="bg"></div>
<div class="container-fluid py-5 text-center">
    <h4 class="mb-4">Why SMET?</h4>
        <h6 class="text-secondary">This Particular project deals with the problems on managing a hostel and avoids the
            problems which occur when carried manually</h6>
</div>
<div class="foo">
    <div class="row">
        <div class="col-3 d-flex align-items-center justify-content-center">
            <p>Contact Us</p>
        </div>
        <div class="col-3">
            <p>What We Do</p>
            <span>3D Interactive Animations</span><br>
            <span>IOS App Development </span><br>
            <span>Android App Development</span><br>
            <span>Hybrid App Developemnt</span><br>
            <span>ChatBot Development Company</span>
        </div>
        <div class="col-3">
            <p>Reach Us</p>
            <span>3D Interactive Animations</span><br>
            <span>IOS App Development </span><br>
            <span>Android App Development</span><br>
            <span>Hybrid App Developemnt</span><br>
            <span>ChatBot Development Company</span>
        </div>
        <div class="col-3">
            <p>Follow Us On</p>
            <span>Skein Tech</span><br>
            <span>+91 82203 21620 </span><br>
            <span>enquiry@skeintech.com</span><br>
            <span>Skein Tech</span>
        </div>
    </div>
    <div class="d-flex flex-row-reverse links">
        <div class="p-2"><i class="fa fa-twitter"></i></div>
        <div class="p-2"><i class="fa fa-linkedin"></i></div>
        <div class="p-2"><i class="fa fa-facebook"></i></div>
    </div>
</div>