<div class="page-wrapper chiller-theme toggled" [ngStyle]="commonservice.showTour">
    <main class="page-content">
        <div class="bgColor">
            <div class="container">
                <div class="row" style="height: 4em;">
                    <div class="col-md-6">
                        <p class="appTitle">Course Type</p>
                    </div>
                    <div class="col-md-6">
                        <p class="adminName">{{ adminName }} <img width="30px" height="30px" [src]="adminImage"
                                class="rounded-circle"></p>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 searchCol">
                                    <div class="form-inline">
                                        <input class="form-control form-control-sm ml-3 w-75" type="text" (change)="onChangeEvent($event)" placeholder="Course Type"
                                            aria-label="Search">
                                        <i class="fa fa-angle-down searchIcon" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-3 searchCol">
                                    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                                </div>
                                <div class="col-md-3 searchCol">
                                    <button type="button" class="btn btn-primary addCourseBtn" (click)="openAdd()"><i
                                            class="fa fa-plus" aria-hidden="true"></i> Add Course Type</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 degreeContent" *ngFor="let course of allCourseType">

                        <p style="text-align: left;"><img width="30px" height="30px" class="rounded-circle imgTable"
                                [src]="course.image">
                            {{ course.type }}
                            <i class="fa fa-trash-o iconEdit" aria-hidden="true" (click)="deleteCourseType(course)"></i>
                            <i class="fa fa-pencil iconEdit" (click)="editCourseType(course)" aria-hidden="true"></i></p>
                    </div>
                </div>

                <!-- <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Image</th>
                    <th>Course Type</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courseTypeData">
                    <td>{{ course.id }}</td>
                    <td><img width="80px" [src]="course.image" class="image"></td>
                    <td>{{ course.type }}</td>
                    <td>21-09-2020</td>
                    <td>
                        <button class="commonBtn mt-2" (click)="editCourseType(course)"> Edit</button>
                        <button class="commonBtn mt-2"> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
            </div>

            <div class="backdrop" [ngStyle]="{'display':display}"></div>
            <div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" *ngIf="showAdd">
                            Add Course Type
                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-header" *ngIf="showEdit">
                            Edit Course Type
                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="dltmodal-content animate modal-body dltBl">
                            <form [formGroup]="courseTypeForm">

                                <label>Course Type</label>
                                <input type="text" class="form-control" formControlName="courseTypeVal" [(ngModel)]="courseType">
                                <div class="error-messages">
                                    <div *ngFor="let error of error_messages.courseTypeVal">
                                        <div class="error-message" *ngIf="courseTypeForm.get('courseTypeVal').hasError(error.type) && (courseTypeForm.get('courseTypeVal').dirty || courseTypeForm.get('courseTypeVal').touched)">
                                            {{ error.message }}
                                        </div>
                                    </div>
                                </div>

                                <!-- <label>Add degree types to course type</label>
                                <select class="form-control" formControlName="degreetypeVal" [(ngModel)]="degreeType">
                                    <option *ngFor="let district of disrictData;let x = index" [ngValue]="district.id">{{
                                district.district }}</option> 
                                </select>
                                <div class="error-messages">
                                    <div *ngFor="let error of error_messages.degreetypeVal">
                                        <div class="error-message" *ngIf="courseTypeForm.get('degreetypeVal').hasError(error.type) && (courseTypeForm.get('degreetypeVal').dirty || courseTypeForm.get('degreetypeVal').touched)">
                                            {{ error.message }}
                                        </div>
                                    </div>
                                </div> -->

                                <label class="uploadImage">Upload Image
                                    <i class="fa fa-camera iconCamera" aria-hidden="true"></i>
                                    <input type="file" formControlName="courseTypeImage" (change)="handleFileInput($event.target.files)"
                                        hidden>
                                </label>
                                <img width="80px" height="80px" *ngIf="imageUrl" [src]="imageUrl">

                                <div class="error-messages">
                                    <div *ngFor="let error of error_messages.courseTypeImage">
                                        <div class="error-message" *ngIf="courseTypeForm.get('courseTypeImage').hasError(error.type) && (courseTypeForm.get('courseTypeImage').dirty || courseTypeForm.get('courseTypeImage').touched)">
                                            {{ error.message }}
                                        </div>
                                    </div>
                                </div>

                                <div class="addBtn" *ngIf="showAdd">
                                    <button class="commonBtn mt-2" [disabled]="!courseTypeForm.valid" (click)="addCourseType()">
                                        Add Course Type</button>
                                </div>
                                <div class="addBtn" *ngIf="showEdit">
                                    <button class="commonBtn mt-2" [disabled]="!courseTypeForm.valid" (click)="updateCourseType()">
                                        Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="backdrop" [ngStyle]="{'display':displayDelete}"></div>
            <div class="modal" id="successModel" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="dltmodal-content animate modal-body dltBl mb-3" style="text-align:center;">
                            <p>Do you want to delete Course Type ?</p>
                            <button type="submit" class="btn btn-success" (click)="delete()" style="width: 20%;">Yes</button>
                            <button type="submit" class="btn btn-danger" (click)="onCloseHandled()" style="width: 20%;margin-left: 0.3em;">No</button><br><br>
                            <p class="error" *ngIf="showErr">{{ deleteErr }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>